{% extends '__base.html' %}
{% load static %}
{% load get_rate_or_dashes %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
    <!-- Start CONTAINER_BAR -->
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <img src="{{ user.profile.avatar_url }}" class="img-fluid" alt="profile"
                             style="width: 250px">
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Основная информация</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'accounts:profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 text-start">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Мои события</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Событие</th>
                                    <th scope="col">Дата старта</th>
                                    <th scope="col">Моя оценка</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}<tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a href="{{ event.get_absolute_url }}" data-test="event">
                                            {{ event.title }}
                                        </a>
                                    </td>
                                    <td data-test="event_start">{{ event.date_start|date:"d E Y" }}</td>
                                    <td data-test="event_rate">{% get_rate_or_dashes reviews_rates event.pk %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Мои отзывы</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Событие</th>
                                    <th scope="col">Отзыв</th>
                                    <th scope="col">Оценка</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in reviews %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href="{{ review.event.get_absolute_url }}" data-test="review_event">
                                                {{ review.event.title }}
                                            </a>
                                        </td>
                                        <td data-test="review_text">
                                            {{ review.text }}
                                        </td>
                                        <td data-test="review_rate">{{ review.rate }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End CONTAINER_BAR -->
{% endblock %}
