<div class="row mb-4">
    <div class="col">
        <div class="card shadow">
            <div class="card-body">
                <form action="." method="get">
                    <div class="row row-cols-lg-auto g-3 align-items-start">
                        <div class="col-12">
                            <label for="id_category" class="form-label">{{ filter_form.category.label }}</label>
                            {{ filter_form.category }}
                        </div>
                        <div class="col-12">
                            <label for="id_features" class="form-label">{{ filter_form.features.label }}</label>
                            {{ filter_form.features }}
                        </div>
                        <div class="col-12 d-md-flex">
                            <div class="mx-1">
                                <label for="id_date_start" class="form-label">{{ filter_form.date_start.label }}</label>
                                {{ filter_form.date_start }}
                            </div>
                            <div class="mx-1">
                                <label for="id_date_end" class="form-label">{{ filter_form.date_end.label }}</label>
                                {{ filter_form.date_end }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 d-md-flex">
                            <div class="form-check me-3">
                                {{ filter_form.is_private }}
                                <label class="form-check-label" for="is_private">
                                    {{ filter_form.is_private.label }}
                                </label>
                            </div>
                            <div class="form-check">
                                {{ filter_form.is_available }}
                                <label class="form-check-label" for="is_available">
                                    {{ filter_form.is_available.label }}
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary">Фильтровать</button>
                            <a href="{% url 'events:event_list' %}" class="btn btn-outline-danger">Сбросить</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
