<div class="row mb-4">
    <div class="col">
        <div class="card shadow">
            <div class="card-body">
                <form>
                    <div class="row row-cols-lg-auto g-3 align-items-start">
                        <div class="col-12">
                            <label for="category" class="form-label">Категория:</label>
                            <select class="form-select" id="category">
                                <option selected="">....................</option>
                                <option value="1">Спортивный турнир</option>
                                <option value="2">Семейное мероприятие</option>
                                <option value="3">Субботник</option>
                                <option value="4">Волонтерство</option>
                                <option value="5">Night Party</option>
                                <option value="6">Дилоги со звездой</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="features" class="form-label">Свойства:</label>
                            <select class="form-select" multiple="" id="features">
                                <option value="1">На открытом воздухе</option>
                                <option value="2">Приглашенная знаменитость</option>
                                <option value="3">Живая музыка</option>
                                <option value="4">Песни у костра</option>
                                <option value="5">Подарки участникам</option>
                                <option value="6"> Вечерние танцы</option>
                            </select>
                        </div>
                        <div class="col-12 d-md-flex">
                            <div class="mx-1">
                                <label for="id_date_start" class="form-label">Дата начала</label>
                                <input type="date" class="form-control" id="id_date_start">
                            </div>
                            <div class="mx-1">
                                <label for="id_date_end" class="form-label">Дата окончания</label>
                                <input type="date" class="form-control" id="id_date_end">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 d-md-flex">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="checkbox" value="" id="is_private">
                                <label class="form-check-label" for="is_private">
                                    Private
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="is_available">
                                <label class="form-check-label" for="is_available">
                                    Есть места
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary">Фильтровать</button>
                            <button type="submit" class="btn btn-outline-danger">Сбросить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>