<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" data-test="p_start">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="#" data-test="p_previous">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#" data-test="p_1">1</a></li>
    <li class="page-item active"><a class="page-link" href="#" data-test="p_2">2</a></li>
    <li class="page-item"><a class="page-link" href="#" data-test="p_3">3</a></li>
    <li class="page-item"><a class="page-link" href="#" data-test="p_next">Next</a></li>
    <li class="page-item"><a class="page-link" href="#" data-test="p_end">&raquo;</a></li>
</ul>
