<div class="container-fluid bg-white py-3">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto text-center ms-4">
            {% block page_title %}
            {% endblock %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="col-auto text-center me-4">
                <a href="{% url 'events:event_create' %}" class="btn btn-outline-primary">+ Добавить событие</a>
            </div>
        {% else %}
            <div class="col-auto text-center me-4">
                <a href="#" class="btn btn-outline-primary">Войти</a>
                <a href="#" class="btn btn-primary">Регистрация</a>
            </div>
        {% endif %}
    </div>
</div>
